
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width:40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    .form-field-title{
        font-size: 1.2rem;
    }
    margin-bottom:1.3rem;
    .form-field-input{
      width:40%;
      input,select{
       width:100%;
       font-size: 1.2rem;
       border-radius:5px;
       padding:3px;
      }
  }
  }
  
  .submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  // pagination 
  .pagination {
    display: flex;
    justify-content: center; // Center the pagination buttons
    margin: 20px 0; // Add margin for spacing
  
    button {
      background-color: #007bff; // Button color
      color: white; // Text color
      border: none; // No border
      border-radius: 4px; // Rounded corners
      padding: 10px 15px; // Padding for the button
      margin: 0 5px; // Spacing between buttons
      cursor: pointer; // Pointer cursor on hover
      transition: background-color 0.3s; // Smooth background color transition
  
      &:hover {
        background-color: #0056b3; // Darker shade on hover
      }
  
      &.active {
        background-color: #0056b3; // Active button color
        font-weight: bold; // Bold text for active button
      }
  
      &:disabled {
        background-color: #ccc; // Gray color for disabled buttons
        cursor: not-allowed; // Not-allowed cursor for disabled buttons
      }
    }
  }
  